// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Mixins
@import "mixins";

// Customs
$primary: $csorange;
$secondary: $cswhite;
$carousel-control-color: $csorange;

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";