// Custom
@import "custom";

// TESTING
.card{
	color: black;
	background-color: $csgray;
	
	.card-header{
		background-color: $csorange;
		color: white;
	}
}
// TESTING


body {
	background-color: $cswhite;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
footer {
	a, a:hover {
		color: white;
		font-weight: bold;
	}
}
form {
	background-color: $csdarkorange;
	border-radius: 5px;
	color: $white;
	box-shadow: 7px 7px darken($csgray, 10%);
	@include tablet {
		padding: 0.75rem;
	}
}
.bg-dark-orange{
	background-color: $csdarkorange;
}
.co-orange{
	color: $csorange !important;
}
.container-img-center{
	text-align: center;
}
.box-shadow-tb {
	max-width: 100% !important;
	box-shadow: inset 0px 11px 18px -10px lighten(#000, 10%), inset 0px -11px 18px -10px lighten(#000, 10%);
}
.no-shadow {
	box-shadow: none;
	padding: 0 !important;
}
.box-shadow-hide {
	@include bigphone {
		box-shadow: none;
	}
}
.pagination {
	justify-content: center !important;
	li:first-child a, li:first-child span {
	  margin-left: 0;
	  border-top-left-radius: 0.25rem;
	  border-bottom-left-radius: 0.25rem;
	}

	li:last-child a, li:last-child span {
	  border-top-right-radius: 0.25rem;
	  border-bottom-right-radius: 0.25rem;
	}

	li.active a, li.active span {
	  z-index: 2;
	  color: #fff;
	  background-color: #EE712B;
	  border-color: #EE712B;
	}

	li.disabled a, li.disabled span {
	  color: #868e96;
	  pointer-events: none;
	  background-color: #fff;
	  border-color: #ddd;
	}

	a, span {
	  position: relative;
	  display: block;
	  padding: 0.5rem 0.75rem;
	  margin-left: -1px;
	  line-height: 1.25;
	  color: #EE712B;
	  background-color: #fff;
	  border: 1px solid #ddd;
	}

	a:focus, a:hover, span:focus, span:hover {
	  color: #bd4e0f;
	  text-decoration: none;
	  background-color: #e9ecef;
	  border-color: #ddd;
	}
}


// HOME
// Section 1
#welcome{
	margin-bottom: 0 !important;
	padding-top: 50px;
	height: 500px;
	@include tablet {
		height: 350px;
	}
	@include background('../img/landingpage-jumbotron.png', fixed);
}
.text-title{
	font-size: 96px;

	@include desktop {
		font-size: 64px;
	}
	@include tablet {
		font-size: 48px;
	}
	@include phone {
		font-size: 32px;
	}
}
.text-small-title{
	font-size: 32px;

	@include desktop {
		font-size: 24px;
	}
	@include tablet {
		font-size: 20px;
	}
	@include phone {
		font-size: 18px;
	}
}
#img-title{
	text-align: right;
	@include desktop {
		> img {
			height: 250px;
		}
	}
	@include tablet {
		text-align: center !important;

		> img {
			height: 150px !important;
		}
	}
	@include smalltablet {
		> img {
			height: 100px !important;
		}
	}
}
#btn-title {
    width: 10em;
    box-shadow: 7px 7px rgba(0,0,0,0.3);
}

// Section 3
#home-3 {
	background-color: $csorange;
}

// Section 4
#home-4 {
	color: $csdarkorange !important;
	#carousel-home {
		.testimony-item {
			padding: 3rem !important;
		}
		.carousel-control-prev {
			left: -100px;
			@include tablet {
				left: 0;
			}
		}
		.carousel-control-next {
			right: -100px;
			@include tablet {
				right: 0;
			}
		}
	}
}

// Section 5
#home-5 {
	background-color: $csorange;
}

// Section 6
#home-6 {
	background-color: $cswhite;
	color: $csorange;
}